<!--===== COLLECTION =====-->
<section class="collection section">
    <div class="collection__container bd-grid">
        <div class="collection__box">
            <img src="../../../assets/image/platform/backpackMan.png" alt="" class="collection__img">
            <div class="collection__data">
                <h2 class="collection__title">
                    <span class="collection__subtitle">Colección</span>
                    <br>Hombre
                </h2>
                <button class="btn btn-outline-secondary" (click)="onRedirection( 'M' )">
                    Ver más
                </button>
            </div>
        </div>
        <div class="collection__box">
            <div class="collection__data">
                <h2 class="collection__title">
                    <span class="collection__subtitle">Colección</span>
                    <br>Mujer
                </h2>
                <button class="btn btn-outline-secondary" (click)="onRedirection( 'W' )">
                    Ver más
                </button>
            </div>
            <img src="../../../assets/image/platform/backpackWoman.png" alt="" class="collection__img">
        </div>
    </div>
</section>