
<!--===== FEATURED PRODUCTS =====-->
<section class="featured mt-4" id="featured">


    <div class="mx-5">
        
        <div class="row mt-2">
            <div class="col-xl-3 col-lg-3">
                <!-- INPORT SEARCH PRODUCTS -->
                <app-search  *ngIf="!bandAccesories"
                    [bandFilterR]="bandFilterR"
                    [bandFilterP]="bandFilterP"
                    [bandFilterZ]="bandFilterZ"
                    [showCalifications]="showCalifications"
                    (textSearch)="onSearch( $event )"
                    (orderBy)="getProducts( $event )"
                    (filterC)="onFilterClasifications( $event )"
                    (featured)="getProducts( false, $event )"
                    (filterSizeR)="onFilterSizeR( $event )"
                    (filterSizeP)="onFilterSizeP( $event )"
                    (filterSizeZ)="onFilterSizeZ( $event )">
                </app-search>
                <!-- IMPORT SEARCH ACCESORIES -->
                <app-search  *ngIf="bandAccesories"
                            [showCalifications]="showCalifications"
                            (textSearch)="onSearch( $event )"
                            (orderBy)="getProducts( $event )"
                            (filterC)="onFilterClasifications( $event )"
                            (featured)="getProducts( false, $event )">
            </app-search>
            </div>
            <div class="col-xl-9 col-lg-9">
                <!-- Categories -->
                
                <div class="row" *ngIf="!bandAccesories">
                    <div class="col-12">

                        <ul class="nav nav-tabs mb-4">
                            <li class="nav-item tabs" *ngFor="let item of categories">
                                <a [ngClass]=" item.id === itemCategory ? 'nav-link active tabs' : 'nav-link tabs'" 
                                   (click)="onSelectCategory( item.id )">{{ item.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- IMPORT ITEMS -->
                <div class="row">
                    <!-- <ngx-spinner></ngx-spinner> -->

        
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 animated fast fadeIn"
                            *ngFor=" let product of productsTem | 
                                     search: textSearch: 'name' | 
                                     paginate: { itemsPerPage: 9, currentPage: pageActual }; let i = index">
        
                        <app-item [product]="product"></app-item>
        
                    </div>
        
                </div>
        
                    
                <div class="col-12 text-center mt-5">
                    <pagination-controls (pageChange)="pageActual = $event" previousLabel = "Anterior"
                        nextLabel = "Siguiente" responsive = "verdadero" maxSize="4" >
                    </pagination-controls>
                </div>
            </div>


        </div>
    </div>
        
</section>