
<!--===== HERO =====-->
<section  class="home" id="home">
    <div class="home__container bd-grid">
        <div class="home__data">
            <h1 class="home__title"> 
                VARIEDADES<br><span>ÁNGELES</span>
            </h1>
            <a href="#featured" class="button" style="text-decoration: none">
                Destacados
            </a>
        </div>

        <img src="../../../assets/image/platform/home.png" alt="" class="home__img">
    </div>
</section>

<!-- COLLECTIONS -->
<components-collections></components-collections>

<!-- FEATURED -->
<app-list></app-list>