<!--===== FOOTER =====-->
<footer class="footer">
    <div class="footer__container container">
        <div class="row mx-5">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-13">
                <div class="footer__box">
                    <h3 class="footer__title">SARA</h3>
                    <p class="footer__deal">Products store</p>
                    <a href="#"><img src="../../../assets/image/ma/footerstore1.png" alt="" class="footer__store"></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-13">
                <div class="footer__box">
                    <h3 class="footer__title">EXPLORAR</h3>
                    <ul>
                        <li><a routerLink="/home" class="footer__link">Inicio</a></li>
                        <li><a routerLink="/products" class="footer__link">Productos</a></li>
                        <li><a routerLink="/accesories" class="footer__link">Accesorios</a></li>
                        <li><a routerLink="/collections" class="footer__link">Colleciones</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-13">
                <div class="footer__box">
                    <h3 class="footer__title">SEGUIR</h3>
                    <a href="#" class="footer__social">
                        <i class="bx bxl-facebook-square"></i>
                    </a>
                    <a href="#" class="footer__social">
                        <i class="bx bxl-instagram-alt"></i>
                    </a>
                    <a href="#" class="footer__social">
                        <i class="bx bxl-twitter"></i>
                    </a>
                </div>
            </div>
            
      

      
            
        </div>
    </div>
  
    <div  class="footer-copyright text-center py-3">
        Designed by <strong>Deftni</strong> | All Rights Reserved
      </div>
  </footer>